<section id="tabs">
    <div class="row">
        <div class="6u 6u(normal) 12u(narrow) tab-img">
            <div style="
                background-image: url(/images/angel.png);
                background-size: cover;
                background-position: center center;
                min-height: 400px;
            "></div>
        </div>
        <div class="6u 6u(normal) 12u(narrow) tab-text" id="horizontalTab">
            <ul>
                <li>
                    <a href="#tab-1"> Overview </a>
                </li>
                <li>
                    <a href="#tab-2"> Eligibility </a>
                </li>
                <li>
                    <a href="#tab-3"> Apply </a>
                </li>
                <li>
                    <a href="#tab-4"> One-stop Service </a>
                </li>
            </ul>
            <div id="tab-1"> 
                National Development Fund Startup Angel Project Fund is to support entrepreneurs with innovative business ideas
                who are planning to establish and run their own start-ups so that companies with innovative capacities and
                global potential could grow rapidly. Grants can be up to 40% of the total budget for its business plan. There
                is yet a limit of NT$10 million on the accumulated funds received by the same applicant and related parties
                or the company and its affiliates. 
            </div>
            <div id="tab-2"> 
                1. Sole proprietorships, partnerships or companies-to-be established in Taiwan. <br>
                2. Sole proprietorships, partnerships or companies established in Taiwan in the past three years.
            </div>
            <div id="tab-3"> content3 </div>
            <div id="tab-4"> Telephone: +886-2-25778518#890 or #344 </div>

        </div>
    </div>
</section>

<style>
    #tabs .tab-text {
        padding: 2rem;
    }

    #tabs .tab-img {
        padding: 0px;
    }

    #tabs .tab-img img {
        width: 100%;
    }

    #tabs .row {
        margin: 0px;
    }

    #tabs {
        margin: 0rem;
        background: white;
    }
</style>

<script>
    $('#horizontalTab').responsiveTabs({
        startCollapsed: 'accordion'
    });
</script>